APP_ENV=local
# Docker compose profiles (comma-separated). Examples:
# - local-db
# - local-tunnel
# - production
COMPOSE_PROFILES=
PROJECT_NAME=festou
PROJECT_PREFIX=festou
DOMAIN=festoudemo.site
CERTBOT_EMAIL=email
NGINX_HOST_PORT_80=8081
NGINX_HOST_PORT_443=8043
MONGO_HOST_PORT=27017
UID=1000
GID=1000
LOG_CHANNEL=stack
LOG_STACK=mongodb,stderr
LOG_LEVEL=info
LOG_MONGODB_URI=mongodb://mongo:27017/festou_logs
LOG_MONGODB_DATABASE=festou_logs
LOG_MONGODB_COLLECTION=application_logs
LOG_MONGODB_RETENTION_DAYS=14
